<h1 class="order">ORDER PLACED SUCCESSFULLY</h1><br><br>

<a href="/order-view-products" class="btn btn-success  " id="view">View Orders</a>
<style>

.order{
    margin-left: 400px;
}
#view{
  margin-left: 600px;
}

    
</style>